In [2]:
import glob
import pandas as pd
import numpy as np
import os.path

In [3]:
pd.read_csv('https://raw.githubusercontent.com/sunnypark1026/sunnypark/master/USGS/usgs_state_1957.csv').head()

,State,State Debt,Unnamed: 2,Local Debt,Unnamed: 4,State and Local Debt,Unnamed: 6,Gross State Product,Unnamed: 8,Real State Growth %,Unnamed: 10,Population (million),
0,Alabama,0.1,a,0.5,a,0.6,a,5.5,e,2.1,e,3.2,i
1,Alaska,0.0,i,0.0,i,0.0,i,0.8,e,2.1,e,0.2,i
2,Arizona,0.0,a,0.3,a,0.3,a,3.3,e,2.1,e,1.1,i
3,Arkansas,0.1,a,0.2,a,0.3,a,2.8,e,2.1,e,1.8,i
4,California,1.2,a,3.4,a,4.6,a,50.4,e,2.1,e,14.0,i

In [10]:
# We have usgs_state_1957 ~ usgs_state_2020
# Need to add 'Year' Column 
# Need to remove 'Unnamed' columns

for i in range(1957,2021):
    k = pd.read_csv('https://raw.githubusercontent.com/sunnypark1026/sunnypark/master/USGS/usgs_state_{0}.csv'.format(i))
    # add 'Year' Column 
    k['Year'] = i
    # remove 'Unnamed' columns
    k = k[['State','Year','State Debt','Local Debt','State and Local Debt',
           'Gross State Product','Real State Growth %', 'Population (million)']] 
    k.to_csv('state_{0}new.csv'.format(i))

In [11]:
# Use glob 
glob.glob('*new.csv')

['state_1971new.csv',
 'state_2004new.csv',
 'state_2008new.csv',
 'state_1963new.csv',
 'state_2016new.csv',
 'state_2020new.csv',
 'state_1959new.csv',
 'state_1990new.csv',
 'state_1982new.csv',
 'state_1980new.csv',
 'state_1992new.csv',
 'state_1961new.csv',
 'state_2014new.csv',
 'state_1973new.csv',
 'state_2006new.csv',
 'state_2018new.csv',
 'state_1957new.csv',
 'state_1988new.csv',
 'state_1996new.csv',
 'state_1984new.csv',
 'state_2002new.csv',
 'state_1977new.csv',
 'state_1969new.csv',
 'state_2010new.csv',
 'state_1965new.csv',
 'state_1979new.csv',
 'state_2012new.csv',
 'state_1967new.csv',
 'state_2000new.csv',
 'state_1975new.csv',
 'state_1986new.csv',
 'state_1998new.csv',
 'state_1994new.csv',
 'state_1991new.csv',
 'state_1983new.csv',
 'state_1958new.csv',
 'state_2005new.csv',
 'state_1970new.csv',
 'state_2017new.csv',
 'state_1962new.csv',
 'state_2009new.csv',
 'state_2015new.csv',
 'state_1960new.csv',
 'state_2019new.csv',
 'state_2007new.csv',
 'state_1972new.csv',
 'state_1981new.csv',
 'state_1993new.csv',
 'state_1968new.csv',
 'state_1976new.csv',
 'state_2003new.csv',
 'state_1964new.csv',
 'state_2011new.csv',
 'state_1997new.csv',
 'state_1989new.csv',
 'state_1985new.csv',
 'state_1999new.csv',
 'state_1987new.csv',
 'state_1995new.csv',
 'state_1966new.csv',
 'state_2013new.csv',
 'state_1978new.csv',
 'state_1974new.csv',
 'state_2001new.csv']

In [12]:
allfile_list = glob.glob(os.path.join('/Users/sunheepark/MyProject/USGS/Newly_Created_USGS_files','*new.csv'))

In [13]:
# create an empty list
alldata = []
for file in allfile_list:
    df = pd.read_csv(file)
    alldata.append(df)

In [14]:
# Use concat function to combine whole dataset
dataCombine = pd.concat(alldata, axis=0, ignore_index=True)
dataCombine = dataCombine.sort_values(by ='Year')
dataCombine = dataCombine.reset_index()[['State','Year','State Debt','Local Debt','State and Local Debt',
           'Gross State Product','Real State Growth %', 'Population (million)']]
dataCombine

,State,Year,State Debt,Local Debt,State and Local Debt,Gross State Product,Real State Growth %,Population (million)
0,Alabama,1957,0.1,0.5,0.6,5.5,2.1,3.2
1,New Hampshire,1957,0.1,0.1,0.1,1.2,2.1,0.6
2,New Jersey,1957,0.9,1.4,2.3,17.4,2.1,5.7
3,New Mexico,1957,0,0.2,0.2,2.3,2.1,0.9
4,New York,1957,2,7.8,9.8,52.5,2.1,16.2
...,...,...,...,...,...,...,...,...
3324,Maryland,2020,28.5,26.8,55.3,441.4,2.2,6.1
3325,Massachusetts,2020,82.4,21.8,104.2,613,2.6,6.9
3326,Michigan,2020,34.2,39.5,73.7,568.1,2.6,10.0
3327,Mississippi,2020,7,6.7,13.7,122.2,2.0,3.0
3328,Wisconsin,2020,22.5,22.4,44.9,363.9,2.5,5.8

In [15]:
# save dataframe as a csv file with to_csv function

# dataCombine.to_csv('Final_File.csv',index=False)